<!-- main page -->

<div class="col-lg-9 pull-right">
	<!--	breadcramb	-->
	<ol class="breadcrumb">
	  <li><a href="#/">Home</a></li>
	</ol>
	<!--	end breadcramb	-->
	
	<ul class="media-list">

	<!-- repeat list of posts -->
        <li class="media" data-ng-repeat="post in posts | orderBy: 'id'">
            <a class="pull-left" href="#"><img class="media-object" src="http://placehold.it/100x100"></a>
            <div class="media-body">
                <h3 class="media-heading"> <a href="{[{post.api_url}]}">{[{post.title}]}</a> <small class="muted">by: {[{post.author}]}</small></h3>
                <p> {[{ post.description }]} </p>
                <h6>Posted on : <div class="badge">{[{post.created_on | date}]}</div></h6>
            </div>
        </li>

    </ul>
</div>

